body{
    background-color: hsl(257, 40%, 49%);
    margin: 0px;
    position: relative;
    bottom: 70px;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: max-content;
    width: 1440px;
}

.head{
    display: inline-block;
    position: relative;
    width: 210px;
    top: 110px;
    left: 70px;
}


.white{
    background-color: white;
    width: 665px;
    height: 370px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    bottom: 1065px;
    left: 80px;

}    

.black{
    background-color: rgb(0, 0, 0);
    width: 665px;
    height: 420px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    bottom: 605px;
    left: 80px;
}

.tab2{
    display: inline-block;
    position: absolute;
    top: 268px;
    left: 80px;
}

.info{
    position: absolute;
    top: 300px;
    right: 100px;
    font-weight: 600;
    font-size: 18px;
}

.button1{
    color: hsl(257, 40%, 49%);
    padding: 20px 70px;
    border-radius: 25px;
    border-style: none;
    font-size: 16px;
}

.button1:hover{
    background-color: hsl(300, 69%, 71%);
    padding: 20px 70px;
    border-radius: 25px;
    border-style: none;
    font-size: 16px;
    color: white;
}


p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.icon{
    padding: 5px;
    margin-right: 10px;
    width: 8%;
    filter: invert(100%);
  -webkit-filter: invert(100%);
  border-radius: 100%;
  border-style: solid;
  border-color: black;

}

.icon:hover{
    padding: 5px;
    margin-right: 10px;
    width: 8%;
    filter: invert(100%);
  -webkit-filter: invert(100%);
    
  border-radius: 100%;
  border-style: solid;
  border-color: hsl(120, 25%, 67%);

}

.icons{
    position: absolute;
    top: 780px;
    left: 1200px;
}

.attribution{
    color: white;
    position: relative;
    bottom: 950px;
}
